<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 定义文件上传的位置 -->
	<context-param>
		<param-name>uploadPath</param-name>
		<!-- <param-value>D:/apache-tomcat-6.0.32/webapps/emr/file-backups/</param-value>  -->
		<param-value>F:/CX/项目/MyEclipse/workspace101/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/emr/file-backups/</param-value>
	</context-param>
	
	<context-param>
		<param-name>queryForFileType</param-name>
		<param-value>.pdf,.xls,.xlsx,.doc,.docx</param-value>
		<!-- <param-value>.jpg,.png</param-value>  -->
	</context-param>
	
	<!--定义easyjweb的配置文件位置 -->
	<context-param>
		<param-name>easyjwebConfigLocation</param-name>
		<param-value>/WEB-INF/easyjf-web.xml</param-value>
	</context-param>
	<!--定义EasyJWeb的主控Servlet  -->
	<servlet>
		<servlet-name>easyjf</servlet-name>
		<servlet-class>com.easyjf.web.ActionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>easyjf</servlet-name>
		<url-pattern>*.do</url-pattern><!--所有.do的扩展名都由easyjweb来处理-->
	</servlet-mapping>		 
	
	<!-- 定义字符处理Filter -->
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>com.easyjf.web.CharsetFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<servlet-name>easyjf</servlet-name>
	</filter-mapping>

	<!-- 定义内容输出压缩Filter -->
	<filter>
		<filter-name>GZIPFilter</filter-name>
		<filter-class>com.easyjf.web.GZIPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<servlet-name>easyjf</servlet-name>
	</filter-mapping>

	<!-- 会话生存周期 单位：分-->
	<session-config> 
        <session-timeout>240</session-timeout> 
    </session-config>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
