<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow:hidden;
}
-->
</style></head>
 
<frameset rows="*" cols="177,*" framespacing="0" frameborder="no" border="0" >
  <frame id="leftFrame" name="leftFrame" src="frame.do?cmd=left" height="100%" border="0" frameborder="0" style="padding:0 0 4 4"/>
  <frame id="rightFrame" name="rightFrame" src="frame.do?cmd=right" height="100%" border="0" frameborder="0" style="padding:0 4 4 4"/>
</frameset>

<body>
<!--
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed">
  <tr>
    <td  style="width:3px;">&nbsp;</td> <!-- background="images/frame/main_40.gif" >
    <td width="177"><iframe id="leftFrame" name="I2" height="100%" width="177" border="0" frameborder="0" src="frame.do?cmd=left" style="padding:0 0 3 0">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
    <td><iframe id="rightFrame" name="I1" src="frame.do?cmd=right" height="100%" width="100%" border="0" frameborder="0" style="padding:0 0 3 4">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
    <td  style="width:3px;">&nbsp;</td> <!-- background="images/frame/main_42.gif" >
  </tr>
</table>
-->
</body>
</html>
