<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>历史版本信息</title>
</head>
<body>
	<table border="1" width="100%">
		<tr>
			<th>日期</th>
			<th>文件编号</th>
			<th>用户</th>
			<th>版本号</th>
			<th>下载</th>
		</tr>
		#foreach($file in $files )
		<tr>
			<td>$file.date</td>
			<td>$file.code</td>
			<td>$file.user</td>
			<td>$file.version</td>
			<td><a href="$file.download">下载</a></td>
		</tr>
		#end
	</table>
</body>
</html>