<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>文档查询系统</title>
#parse("/link_share.html")
<script type="text/javascript" src="plugins/extjs/emr/employee/EmployeeLookupPanel.js"></script>
<script type="text/javascript" src="plugins/extjs/emr/notify/RssPanel.js"></script>
</head>
<body>

</body>
</html>
<script type="text/javascript">

	Ext.QuickTips.init();
	Ext.Ajax.timeout = 10 * 60 * 1000;  // 10分钟，默认为30秒  设置加载数据超时最大值
	var frame;
	Ext.onReady(function(){
		frame = new EmployeeLookupPanel();
		
		/*new Ext.Viewport({
			layout:'border',
			items:[
				new Ext.Panel({
					title:'panel1',
					region:'north',
					width: '100%',
					html:'高度等于100，宽度= 容器宽度-50'
				})
				,new Ext.Panel({
					title:'panel1',
					region:'center',
					width: '100%',
					items:[frame]
				})
			]
		});*/
	});
	
</script>